.navbar {
    display: flex;
    margin-top: 1%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.reseauSociaux {
    width: 20%;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.icone{
    width: 70%;
}

.lien {
    text-decoration: none;
    color: black;
    font-size:230%;
}

.lienPages {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.iconeReseauSociaux{
display: flex;
align-items: center;
}
